@media only screen and (min-width: 750px) {

    //body
    .Body {
        padding: 6.5%;
    }

    //
    .Work {
        padding: 7.5% !important;
        margin-top: auto;
        margin-bottom: auto;
    }

    //
    .Pricing-wrapper {
        padding: 7.5%;
    }


    .Body-div1-p {
        font-size: 24px;
        position: relative;
        top: -25px;
    }


    //Image Size for Recent Work
    // .Work-map-div1-img {
    //     height: 350px !important;
    //     width: 350px !important;
    // }
}